#!/usr/bin/env bash

# Start screensaver.
ss () {
	open -a ScreenSaverEngine
}

# Show battery percentage.
battery () {
	pmset -g batt | egrep "([0-9]+\%).*" -o --colour=auto | cut -f1 -d';'
	pmset -g batt | egrep "([0-9]+\%).*" -o --colour=auto | cut -f3 -d';'
}

# Relaunch core audio when it stops working without having to restart macOS
audiokill () {
	# sudo killall coreaudiod
	sudo launchctl stop com.apple.audio.coreaudiod
	sudo launchctl start com.apple.audio.coreaudiod
}

# `o` with no arguments opens the current directory, otherwise opens the given location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# Create a new directory and enter it.
mkd () {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory.
fs () {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Create a data URL from a file.
dataurl () {
	local mimeType=$(file -b --mime-type "$1");
	if [[ $mimeType == text/* ]]; then
		mimeType="${mimeType};charset=utf-8";
	fi
	echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')";
}

# Create a private github repo on github and copy the current repo to it under the remote 'personal'
copy_repo_to_personal () {
	REPO=$(basename ${PWD##*/})
	GHUSER=$(git config --get github.user);
	GHTOKEN=$(git config --get github.token);
	if [[ -z "$GHUSER" || -z "$GHTOKEN" ]]; then
		echo "ERROR: No Github user or token found."
	else
		curl -u $GHUSER:$GHTOKEN https://api.github.com/user/repos -d {\\\"name\\\":\\\"$REPO\\\"\\,\\\"private\\\":\\\"true\\\"} --fail;
		git remote add personal git@github.com:$GHUSER/$REPO.git;
		git push personal master
	fi
}
