[user]
	name = Martim Lobao
	email = 6430786+martimlobao@users.noreply.github.com

	[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
