[include]
	# For credentials and tokens and private info
	# In ~/.gitconfig.local store with the following format:
	# [github]
		# token = 0123456789abcdef0123456789abcdef01234567
	#
	# [credential]
		# helper = osxkeychain
	path = ~/.gitconfig.local

[github]
	user = martimlobao

[user]
	name = Martim Lobao
	email = 6430786+martimlobao@users.noreply.github.com

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	# copy2personal creates a private repo on github and copies the current
	# repo to it under the remote 'personal'
	copy2personal = "!REPO=$(basename ${PWD##*/}) GHUSER=$(git config --get github.user) GHTOKEN=$(git config --get github.token); curl -u $GHUSER:$GHTOKEN https://api.github.com/user/repos -d {\\\"name\\\":\\\"$REPO\\\", \\\"private\\\":\\\"true\\\"} --fail; git remote add personal git@github.com:$GHUSER/$REPO.git; git push personal master"

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[diff]
	# Detect copies as well as renames
	renames = copies
[credential]
	helper = manager
