#!/usr/bin/env bash
set -euo pipefail

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Make nano the default editor.
export EDITOR='nano';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Don't clear the screen after quitting a manual page or git diff.
export LESS=eFRX;

# Change nnn selection color
export NNN_CONTEXT_COLORS='1234';
