[include]
	# For credentials and tokens that should not be shared.
	# In ~/.gitconfig.private store with the following format or run
	# ./local.sh to generate it.
	# [user]
	#	name = ...
	#	email = ...
	#	signingKey = ...
	# [github]
	#	user = ...
 	path = ~/.gitconfig.private

[core]
	editor = nano
	attributesfile = ~/.gitattributes

[branch]
	# Show most recently changed branches first.
	sort = -committerdate
	autoSetupMerge = simple

[diff]
	# Detect copies as well as renames.
	renames = copies

[diff "bin"]
	# Use `hexdump` to diff binary files.
	textconv = hexdump -v -C

[diff "plist"]
	textconv = plutil -convert xml1 -o -

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true

[init]
	defaultbranch = main

[push]
	default = current
	autoSetupRemote = true

[pull]
	default = current
	rebase = false

[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~
	# Generate a default gitgnore file (e.g. `git ignore ruby c > .gitignore`).
	# Defaults to Python, macOS, Pants, and Visual Studio Code.
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/${@:-macos,visualstudiocode,python,pants} ;}; gi"

[pager]
	stash = false
