[include]
	# For credentials and tokens and private info
	# In ~/.gitconfig.private store with the following format:
	# [user]
	#	name = Martim Lobao
	#	email = martim@email.com
	#
	# [github]
	#	user = martimlobao
	#	token = 0123456789abcdef0123456789abcdef01234567

	path = ~/.gitconfig.private

[user]
	name = _
	email = _
	signingKey = _

[github]
	user = _

[core]
	editor = nano
	attributesfile = ~/.gitattributes

[branch]
	# Show most recently changed branches first.
	sort = -committerdate
	autoSetupMerge = simple

[diff]
	# Detect copies as well as renames.
	renames = copies

[diff "bin"]
	# Use `hexdump` to diff binary files.
	textconv = hexdump -v -C

[diff "plist"]
	textconv = plutil -convert xml1 -o -

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true

[init]
	defaultbranch = main

[push]
	default = current

[pull]
	default = current
	rebase = false

[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~

[pager]
	stash = false
