---
name: Lint PR
permissions: read-all
on: # yamllint disable-line rule:truthy
  pull_request:
    branches: [main]

jobs:
  shellcheck:
    name: Run shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # v2.0.0
        env:
          SHELLCHECK_OPTS: -x
        with:
          ignore_names: .zshrc .zprofile *.zsh
  shfmt:
    name: Run shfmt
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Run shfmt
        uses: luizm/action-sh-checker@17bd25a6ee188d2b91f677060038f4ba37ba14b2 # v0.9.0
        env:
          SHFMT_OPTS: -s
        with:
          sh_checker_checkbashisms_enable: true
          sh_checker_exclude: .zshrc .zprofile .zsh
  yamllint:
    name: Run yamllint
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Display yamllint version
        run: yamllint --version
      - name: Run yamllint
        run: yamllint -c linkme/.config/yamllint/config .
  tombi:
    name: Run tombi
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      - name: Run tombi
        run: |
          uvx tombi lint .
          uvx tombi format --check .
  rumdl:
    name: Run rumdl
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      - name: Run rumdl
        run: uvx rumdl --config linkme/.config/rumdl/rumdl.toml check .
  ruff:
    name: Run ruff
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Run ruff
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          version: latest
